body {
    font-family: 'Rajdhani', sans-serif;
    background-image: url(./FONDO.avif);
}

h1 {

    width: max-content;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    font-size: 40px;

}

h2 {
    background-color: #00FD9B;
    border-radius: 50px;
}

h3 {
    background-color: #8A888A;
    border-radius: 50px;

}

#container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

#container div {
    flex: 2;
    flex-direction: row;
    align-items: center;
    margin: 15px;
    padding: 13px;
    border-radius: 5px;
    text-align: center;
    background-color: #002128;


}

#container div img {
    box-shadow: 0 10px 6px 6px rgb(6, 4, 12, 0.801);
    max-width: 300px;
    border-radius: 50%;
    transition: transform .5s ease;
}



#container div img:hover {
    transform: scale(1.1);
}

.logo {
    display: flex;
    justify-content: center;
}